---
layout: default
title: Fri3d Camp 2018 | 18 - 20 augustus
navitem: home
---
    <div class="maincontent">
        <div class="countdownwrapper">
            <div id="countdown" class="countdown" data-totime="August 18, 2018 00:00:00">
                <div class="days cdsection">
                    <canvas class="countdownnr" id="countdown-days" width="200" height="100"></canvas>
                    <p class="label">Dagen</p>
                </div>
                <div class="hours cdsection">
                    <canvas class="countdownnr" id="countdown-hours" width="150" height="100"></canvas>
                    <p class="label">Uren</p>
                </div>
                <div class="minutes cdsection">
                    <canvas class="countdownnr" id="countdown-minutes" width="150" height="100"></canvas>
                    <p class="label">Minuten</p>
                </div>
                <div class="seconds cdsection">
                    <canvas class="countdownnr" id="countdown-seconds" width="150" height="100"></canvas>
                    <p class="label">Seconden</p>
                </div>
            </div>
            <p class="cdfooter">tot Fri3d Camp 2018 | 18 tem. 20 augustus</p>
        </div>
        {% include mailinglist_social.html %}
    </div>
    {% include slideshow.html %}
    <div class="widecontent">
        <h1>Fri3d Camp Groeit</h1>
    </div>
    <div class="maincontent">
        <p>In 2016 hadden we 256 deelnemers. Het dubbele van de eerste editie in 2014, maar dan nog waren we heel snel volzet. <strong>In 2018 willen we het aantal deelnemers nog eens verdubbelen en gaan we voor 512 deelnemers.</strong> </p>
    </div>
    <div class="widecontent">
        <figure>
            <img src="img/evolutie_publiek.png" alt="evolutie deelnemersaantal Fri3d Camp van 2014 (128 deelnemers), over 2016 (256 deelnemers) tot 2018 (512 deelnemers)">
            <figcaption>Van 2<sup>7</sup> deelnemers in 2014 tot 2<sup>9</sup> bij de volgende editie.</figcaption>
        </figure>
    </div>
    <div class="maincontent">
        <h2>Meer mensen, zelfde sfeer</h2>
        <p>Ook in 2018 zorgen we voor dezelfde <strong>fijne Fri3d sfeer</strong>! Waarschijnlijk zelfs dubbel zo fijn. Stap dus opnieuw binnen in die parallelle wereld vol <strong>wetenschap, technologie en verwondering</strong>. Met natuurlijk <strong>veel, heel veel lichtjes</strong>.</p>
        <p>We moeten helaas <strong>afscheid nemen van De Hoge Rielen</strong>, waar het allemaal begon. Met 512 deelnemers hebben we nieuwe uitdagingen waardoor we niet meer terecht kunnen op onze oude locatie. Daarom zal Fri3d Camp 2018 plaatsvinden op <a href="/deelnemen">domein De Kluis in Sint-Joris-Weert</a>.</p>
    </div>
    <div class="maincontent">
        {% include mailinglist_social.html %}
    </div>
