
    <div class="imggrid imggrid-checklist">
        <div class="item">
            <div class="imgwrapper">
                <img src="{{ site.baseurl }}/img/checklist_tent.png" />
            </div>
            <p>Basic kampeermateriaal: tent, luchtmatras, toiletspullen,... Je mag je tent vanaf vrijdag 18u opzetten.</p>
        </div>
        <div class="item">
            <div class="imgwrapper">
                <img src="{{ site.baseurl }}/img/checklist_power.png" />
            </div>
            <p>Stekkerblokken en verlengkabels om aan te sluiten op het stroomnetwerk en door te lussen naar de volgende kampeerplek.</p>
        </div>
        <div class="item">
            <div class="imgwrapper">
                <img src="{{ site.baseurl }}/img/checklist_cutlery.png" />
            </div>
            <p>Bord, bestek, beker, mok,... Afwasmiddel en sponsjes voorzien wij!</p>
        </div>
        <div class="item">
            <div class="imgwrapper">
                <img src="{{ site.baseurl }}/img/checklist_cash.png" />
            </div>
            <p>Cash voor je drankkkaarten en eventuele materiaalbijdrage bij workshops.</p>
        </div>
        <div class="item">
            <div class="imgwrapper">
                <img src="{{ site.baseurl }}/img/checklist_food.png" />
            </div>
            <p>Eten en drank voor ontbijt en lunch, voorzover je die niet aan de bar koopt.</p>
        </div>
        <div class="item">
            <div class="imgwrapper">
                <img src="{{ site.baseurl }}/img/checklist_supplies.png" />
            </div>
            <p>Het materiaal dat je voor de <a href="http://program.fri3d.be/">workshops die je wil volgen</a> moet meebrengen.</p>
        </div>
        <div class="item">
            <div class="imgwrapper">
                <img src="{{ site.baseurl }}/img/checklist_project.png" />
            </div>
            <p>Werk je aan een cool project? Breng het dan zeker mee!</p>
        </div>
        <div class="item">
            <div class="imgwrapper">
                <img src="{{ site.baseurl }}/img/checklist_lights.png" />
            </div>
            <p>Kleurrijke, knipperende en boeiende lichtjes om je tent te versieren.</p>
        </div>
        <div class="item">
            <div class="imgwrapper">
                <img src="{{ site.baseurl }}/img/checklist_computer.png" />
            </div>
            <p>Breng je laptop en een micro-usb kabeltje mee, als je met <a href="{{ site.baseurl }}/badge/">de badge</a> aan de slag wil gaan.</p>
        </div>
        <div class="item">
            <div class="imgwrapper">
                <img src="{{ site.baseurl }}/img/checklist_inbus.png" />
            </div>
            <p>Heb je een robotkit besteld? Dan heb je een set inbussleuteltjes nodig om 'm in elkaar te zetten.</p>
        </div>
    </div>