
<div class="cta" id="cta-cfp">
  <h2 class="herottl">Jouw activiteit op Fri3d Camp?</h2>
  <p><strong>We zoeken jullie: </strong>Hackers, makers, artiesten, knutselaars, wetenschappers, ingenieurs, ouders en kinderen. We zoeken mensen die willen delen wat hen boeit en waarom ze er door gepassioneerd zijn. Presentaties over de meest <strong>geeky niches</strong>, een <strong>beginnersworkshop</strong> leren solderen, van elektronica tot houtbewerking. Als het met<strong> creatief gebruik van wetenschap en technologie </strong>te maken heeft, hoort het op Fri3d Camp thuis.</p>
  <div class="linkbar"><a class="primary left" href="https://content.fri3d.be/cfp">Dien jouw voorstel in</a> <a href="https://content.fri3d.be/static/downloads/utd-2018.pdf" class="secondary right">Lees de volledige uitnodiging (PDF)</a></div>
</div>
