<div class="cta" id="cta-contest">
  <h2 class="herottl">Make the logo bigger!</h2>
  <p>Bij vorige edities gingen deelnemers steeds <strong>creatief aan de slag met het logo</strong>. In 2018 willen we dat nog meer aanmoedigen! </p>
  <p><strong>Daarom, deze uitdaging!</strong> Snij, schilder, vouw, naai, brand, zaag,... het logo en <strong>maak er een leuk project van</strong>. Deel je creatie, en maak kans op een leuke attentie tijdens Fri3d Camp 2018.</p>
  <div class="linkbar"><a class="primary left" href="{{ site.baseurl }}/deelnemen/logo-contest.html">Doe mee!</a>
  <a href="{{ site.baseurl }}/deelnemen/logo-contest.html#voorwaarden" class="secondary right">Voorwaarden</a> </div>
</div>
