<meta property="og:url"                content="{{ site.url }}{{ page.url  }}/" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="{{ page.title }} | {{ site.data.params.desc }}" />
<meta property="og:description"        content="Fri3d Camp is een gezinsvriendelijk zomerkamp voor hackers, makers en DIY'ers." />
<meta property="og:image"              content="{{ site.url }}{{ site.baseurl }}/img/cfp_social.jpg" />
<meta property="fb:app_id"             content="543312395742355" />
<meta name="twitter:card"              content="summary_large_image">
