<!-- begin slideshow -->
<div class="widecontent">
    <h2>Foto's van een verkennend bezoek</h2>
    <div class="slideshowwrapper">
        <div class="slideshow">
          <div><img data-lazy="/photos/prospectie/img-0.jpg" /></div>
          <div><img data-lazy="/photos/prospectie/img-1.jpg" /></div>
          <div><img data-lazy="/photos/prospectie/img-2.jpg" /></div>
          <div><img data-lazy="/photos/prospectie/img-3.jpg" /></div>
          <div><img data-lazy="/photos/prospectie/img-4.jpg" /></div>
          <div><img data-lazy="/photos/prospectie/img-5.jpg" /></div>
          <div><img data-lazy="/photos/prospectie/img-6.jpg" /></div>
          <div><img data-lazy="/photos/prospectie/img-7.jpg" /></div>
        </div>
    </div>
</div>
<!-- end slideshow -->
