<!-- begin slideshow -->
<p class="printonly printonly-box">Om bomen te redden, worden de foto's uit de slideshows niet afgedrukt.</p>
<div class="fri3d-slideshowwrapper">
    <div class="fri3d-slideshow">
        <ul class="images">
            <li data-volgnr="1"><span>1</span>
                <img data-src="{{ site.baseurl }}/photos/prospectie/img-0.jpg" />
            </li>
            <li data-volgnr="2"><span>2</span>
                <img data-src="{{ site.baseurl }}/photos/prospectie/img-1.jpg" />
            </li>
            <li data-volgnr="3"><span>3</span>
                <img data-src="{{ site.baseurl }}/photos/prospectie/img-2.jpg" />
            </li>
            <li data-volgnr="4"><span>4</span>
                <img data-src="{{ site.baseurl }}/photos/prospectie/img-3.jpg" />
            </li>
            <li data-volgnr="5"><span>5</span>
                <img data-src="{{ site.baseurl }}/photos/prospectie/img-4.jpg" />
            </li>
            <li data-volgnr="6"><span>6</span>
                <img data-src="{{ site.baseurl }}/photos/prospectie/img-5.jpg" />
            </li>
        </ul>
    </div>
    <div class="slideshow-nav">
        <ul class="nav-dots">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
<!-- end slideshow -->
