<!-- begin slideshow -->
<div class="widecontent">
    <h2>Dit was Fri3d Camp 2018</h2>
    <p class="photo-copyright">Foto's © 2018 <a href="https://www.sebastiaanfranco.com/">Sebastiaan Franco</a></p>
    <p class="printonly printonly-box">Om bomen te redden, worden de foto's uit de slideshows niet afgedrukt.</p>
    <div class="fri3d-slideshowwrapper">
        <div class="fri3d-slideshow">
            <ul class="images">
                {% for i in (1..147) %}
                    <li data-volgnr="{{ i }}">
                        <img src="{{ site.baseurl }}/photos/fri3d2018/{{ i }}-tn.jpg" />
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="slideshow-nav">
            <ul class="nav-dots">
            </ul>
        </div>
    </div>
    
</div>
<!-- end slideshow -->
