<!-- begin slideshow -->
<div class="widecontent">
    <div class="fri3d-slideshowwrapper">
        <div class="fri3d-slideshow">
            <ul class="images" data-hratio="1">
                {% for i in (0..6) %}
                    <li data-volgnr="{{ i | plus:1 }}">
                        <img src="{{ site.baseurl }}/photos/logo_uses/logo_uses_{{ i }}-tn.jpg" />
                    </li>
                {% endfor %}
              </ul>
        </div>
        <div class="slideshow-nav">
            <ul class="nav-dots">
            </ul>
        </div>
    </div>
</div>
<!-- end slideshow -->
