<!-- begin slideshow -->
<p class="printonly printonly-box">Om bomen te redden, worden de foto's uit de slideshows niet afgedrukt.</p>
<div class="fri3d-slideshowwrapper">
    <div class="fri3d-slideshow">
        <ul class="images">
            <li>
                <img class="owl-lazy" data-src="{{ site.baseurl }}/photos/prospectie/img-0.jpg" />
            </li>
            <li>
                <img class="owl-lazy" data-src="{{ site.baseurl }}/photos/prospectie/img-1.jpg" />
            </li>
            <li>
                <img class="owl-lazy" data-src="{{ site.baseurl }}/photos/prospectie/img-2.jpg" />
            </li>
            <li>
                <img class="owl-lazy" data-src="{{ site.baseurl }}/photos/prospectie/img-3.jpg" />
            </li>
        </ul>
    </div>
</div>
<!-- end slideshow -->
