<!-- begin slideshow -->
<div class="widecontent">
    <h2>Foto's van een verkennend bezoek</h2>
    <p class="printonly printonly-box">Om bomen te redden, worden de foto's uit de slideshows niet afgedrukt.</p>
    <div class="fri3d-slideshowwrapper">
        <div class="fri3d-slideshow">
            <ul class="images">
                {% for i in (0..7) %}
                    <li data-volgnr="{{ i | plus:1 }}">
                        <img src="{{ site.baseurl }}/photos/prospectie/img-{{ i }}-tn.jpg" />
                    </li>
                {% endfor %}
              </ul>
        </div>
        <div class="slideshow-nav">
            <ul class="nav-dots">
            </ul>
        </div>
    </div>
</div>
<!-- end slideshow -->
