<!-- begin slideshow -->
<div class="widecontent">
    <h2>Foto's van een verkennend bezoek</h2>
    <p class="printonly printonly-box">Om bomen te redden, worden de foto's uit de slideshows niet afgedrukt.</p>
    <div class="slideshowwrapper">
        <div class="owl-carousel">
          <img class="owl-lazy" data-src="{{ site.baseurl }}/photos/prospectie/img-0.jpg" />
          <img class="owl-lazy" data-src="{{ site.baseurl }}/photos/prospectie/img-1.jpg" />
          <img class="owl-lazy" data-src="{{ site.baseurl }}/photos/prospectie/img-2.jpg" />
          <img class="owl-lazy" data-src="{{ site.baseurl }}/photos/prospectie/img-3.jpg" />
          <img class="owl-lazy" data-src="{{ site.baseurl }}/photos/prospectie/img-4.jpg" />
          <img class="owl-lazy" data-src="{{ site.baseurl }}/photos/prospectie/img-5.jpg" />
          <img class="owl-lazy" data-src="{{ site.baseurl }}/photos/prospectie/img-6.jpg" />
          <img class="owl-lazy" data-src="{{ site.baseurl }}/photos/prospectie/img-7.jpg" />
        </div>
    </div>
</div>
<!-- end slideshow -->
