<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans:400,700|Ubuntu+Mono:400" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/vendor/owl2/assets/owl.carousel.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/vendor/owl2/assets/owl.theme.default.min.css">
<!-- <link rel="stylesheet" type="text/css" href="/vendor/slick-1.6.0/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="/vendor/slick-1.6.0/slick/slick-theme.css" /> -->
