---
layout: default
title: FAQ
navitem: deelnemen
navlevel: 1
---
<div class="notice">
    <p>Deze FAQ wordt voortdurend up to date gehouden. Zit je zelf met een vraag die je hier niet terugvindt? Mail naar <a href="info@fri3d.be">info@fri3d.be</a> of stel ze op <a href="https://www.twitter.com/fri3dcamp">Twitter</a>, <a href="https://www.facebook.com/fri3dcamp">Facebook</a> of in het #fri3dcamp IRC kanaal op Freenode.</p>
    <p>Alles wat je nodig hebt om je voor te bereiden op Fri3d Camp vind je in <a href="{{ site.baseurl }}/deelnemen/checklist.html">de checklist</a>.</p>
</div>
<div class="maincontent">
    <ul>
    {% for q in site.faq %}
    <li><a href="#faq_{{ q.title | slugify }}">{{q.title}}</a></li>
    {% endfor %}
    </ul>
</div>
<div class="maincontent">
    {% for q in site.faq %}
    <article class="faqitem" id="faq_{{ q.title | slugify }}">
        <h2 class="faqttl">{{q.title}}</h2>
        {{ q.content }}
    </article>
    {% endfor %}
</div>