---
layout: default
title: Locatie
navitem: deelnemen
navlevel: 1
---
<div class="maincontent">
  <p><a href="https://www.hopper.be/nl/jeugdverblijf/de-kluis">De Kluis</a> is een groot terrein, waar in de zomer vaak veel jeugdbewegingen tegelijk op kamp komen. Van <strong>18 tot en met 20 augustus is het hele terrein voorbehouden</strong> voor Fri3d Camp. Er is vast sanitair (<strong>warme douches!</strong>) op het terrein, voldoende open plek om je tent, camper, caravan of gekaapte UFO op te stellen, en veel bomen om schaduw onder te zoeken of licht aan te hangen.</p>
</div>
<div class="widecontent">
    <iframe width="100%" class="mapviewer" height="600" frameBorder="0" src="https://umap.openstreetmap.fr/en/map/fri3d-camp_162956?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=false&datalayersControl=true&onLoadPanel=undefined&captionBar=false&fullscreenControl=false"></iframe>    
    <p class="mapcaption"><a href="https://umap.openstreetmap.fr/en/map/fri3d-camp_162956"><img class="map_on_mobile" alt="plan van het terrein" src="{{ site.baseurl }}/img/map_img.png" /><i class="material-icons">fullscreen</i> Volledig scherm</a></p>
</div>
<div class="maincontent">
  <p>Deze kaart is in actieve ontwikkeling. Je kan <a href="http://u.osmfr.org/m/162956/">op uMap zelf in detail checken hoe we het terrein inplannen</a>.</p>
</div>
{% include slideshow-kluis.html %}
<div class="maincontent">
  <h2>Waarom kozen we voor deze locatie?</h2>
  <ul>
    <li>Door de <strong>groei naar 512 deelnemers</strong> hebben we op De Hoge Rielen niet meer voldoende overdekte ruimtes voor activiteiten.</li>
    <li>De Kluis heeft een<strong> prachtig hoofdgebouw met lokalen </strong>voor workshops, demo's, talks, enzovoort. </li>
    <li>Mogelijkheid tot <strong>slaapplaatsen</strong> in het hoofdgebouw.</li>
    <li>Voldoende <strong>elektriciteitsvoorziening</strong> op het terrein, geen aggregaten nodig.</li>
    <li><strong>Warme douches!</strong></li>
    <li><strong>Parking vlakbij het kampeerterrein</strong>, en mogelijkheid om je spullen tot op je kampeerplek te brengen.</li>
    <li>Betere bereikbaarheid met de <strong>trein</strong>.</li>
    <li><strong>Warme douches!</strong></li>
    <li>Mogelijkheid voor bezoekers om hun <strong>camper, caravan of gekaapte UFO</strong> op het terrein te plaatsen.</li>
    <li>Meer <strong>cateringmogelijkheden</strong> voor nog betere maaltijden. </li>
    <li><strong>Warme douches!</strong></li>
    <li>Voldoende capaciteit voor 512 deelnemers en <strong>ruimte voor groei </strong>naar volgende edities.</li>
    <li><strong>Warme douches!</strong></li>
  </ul>
</div>
<div class="maincontent">
    {% include mailinglist_social.html %}
</div>
