---
layout: default
title: Tickets
navitem: english
navlevel: 1
---
<div class="maincontent">
    <h2>Admission Prices</h2>
    <table class="simpletable">
        <tr>
            <td>€ 7</td>
            <td>baby (up to 3yo)</td>
        </tr>
        <tr>
            <td>€ 17</td>
            <td>toddler (up to 6yo)</td>
        </tr>
        <tr>
            <td>€ 37</td>
            <td>child (up to 12yo)</td>
        </tr>
        <tr>
            <td>€ 73</td>
            <td>youngster/student (up to 24yo)</td>
        </tr>
        <tr>
            <td><strong>€ 137</strong></td>
            <td><strong>standard ticket</strong></td>
        </tr>
        <tr>
            <td>€ 157</td>
            <td>luxury ticket<p class="subtext">Without volunteering shift</p></td>
        </tr>
        <tr>
            <td>€ 317</td>
            <td>business ticket<p class="subtext">With invoice</p></td>
        </tr>
    </table>
</div>
{% include cta-tickets_en.html %}
<div class="maincontent">
    <p>If everyone older than 16 years takes on a 3 hour shift (bartending, helping with the barbecue,&hellip;), all of the work will be done. There is a slight price increase for not taking on a volunteering shift (the luxury ticket).</p>
    <p>Participants below the age of 16 must be accompanied by an adult. This camp is not intended for unsupervised children.</p>
</div>
<div class="maincontent">
    <h2>Don't want to miss any updates?</h2>
    <p>Follow our social media:</p>
    {% include mailinglist_social_en.html %}
</div>

