{% include header.html %}
    <div class="pagehead">
        <div class="logo">
            <img src="/img/logo-white.svg" alt="Fri3d Camp 2018" />
        </div>
    </div>
    <div class="subhead">
        <div class="minibrand"><img src="/img/minibrand.svg" alt="Fri3d Camp"> 18-20 augustus 2018</div>
        <!-- .mainnav -->
        <nav class="mainnav">
          <ul class="menu-container">
            <li><a href="/">Home</a></li>
            <li><a href="/deelnemen/">Deelnemen</a></li>
            <li><a href="/about/">Over Fri3d Camp</a></li>
          </ul>
        </nav>
        <!-- /.mainnav -->
    </div>
{{ content }}
{% include footer.html %}
