{% include header.html %}
    {% include pagehead.html %}
    <div class="subhead">
        <div class="minibrand"><img src="{{ site.baseurl }}/img/minibrand.svg" alt="Fri3d Camp"> 18-20 augustus 2018</div>
        <div class="menu-access">
          <a href="#mainmenu"><img src="{{ site.baseurl }}/vendor/feather-icons/arrows/chevron-right.svg" width="24" height="24" alt=""> <span class="label">Navigatiemenu</span></a>
        </div>
        <!-- .mainnav -->
        <nav class="mainnav collapsed" id="mainmenu">
          <ul class="menu-container">
            {% for item in site.data.sitetree %}
                {% if item.menu != false %}
                    {% include navitem.html %}
                {% endif %}
            {% endfor %}
        </ul>
        </nav>
        <!-- /.mainnav -->
    </div>
    {% include breadcrumb.html %}
{{ content }}
{% include footer.html %}
