{% include header.html %}
<div class="wrapper2020">
	<div class="grid--2020">
		<div class="logo--2020">
			<img src="/img/fri3d2020.png" alt="Fri3d Camp 2020" />
		</div>
		<article class="intro--2020">		
			{{content}}
		</article>
		<div class="social--2020">
			{% include mailinglist_social.html style=2020 %}
		</div>
		<nav class="nav--2020">
			<ul>
				<li>
					<a href="http://program.fri3d.be">Programma 2018</a>
				</li>
				<li>
					<a href="/badge/">Badge 2018</a>
				</li>
				<li>
					<a href="/deelnemen/locatie.html">Locatie 2018</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
{% include footer2020.html %}